<!DOCTYPE html>
<html ng-app='app'>
<meta charset="utf-8">
<title>test aui-grid basic</title>
<link rel='stylesheet' href='../../src/less/Gridx.css'>
<style type='text/css'>
body {
	font-family: arial;
}
.gridx {
	width: 600px;
	height: auto;
}

.gridxMain {
	height: 450px;
}

.gridxCell {
	font-size: 13px;
	font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.gridxHeader .gridxCell {
	font-size: 15px;
	font-weight: bold;
}

.gridxBody {
	overflow: auto;
}
.gridxRowTable {
	width: initial !important;
}

.error {
	color: azure;
}

.gridx-pagination-bar-control button {
	height: 20px;
}

.buttonGroup {
	margin: 0 10px;
}
</style>
<script type='text/javascript' src='../../lib/angular/angular.js'></script>
<script type='text/javascript' src='../../release/build.js'></script>
<script type='text/javascript' src='../js/musicData.js'></script>
<script type='text/javascript'>
var app = angular.module('app', ['aui.grid']);
var names = ['Elaine', 'Raymond', 'Daniel', 'Rock', 'Leslie'];
var countries = ['CN', 'US', 'UK', 'JP', 'FR'];

app.controller('appController', function($scope, $q) {
	$scope.gridOption = {};

	$scope.gridOption.childField = 'children';
	$scope.gridOption.enableRowHoverEffect = true;

	// $scope.gridOption.paginationPageSize = 5;

	window.data = $scope.gridOption.data = [
		{name: "Moroni", age: 50, id: 'item-1', country: 'US', children: [
			{name: "Moroni-child1", age: 43, id: 'item-1-1', country: 'US'},
			{name: "Moroni-child2", age: 27, id: 'item-1-2', country: 'US'},
			{name: "Moroni-child3", age: 29, id: 'item-1-3', country: 'US'},
			{name: "Moroni-child4", age: 34, id: 'item-1-4', country: 'US'}
		]},
		{name: "gee", age: 50, id: 'item-2', country: 'CN', children: [
			{name: "gee-child1", age: 43, id: 'item-2-1', country: 'CN', children: [
				{name: "gee-cc1", age: 27, id: 'item-2-1-1', country: 'US'},
				{name: "gee-cc2", age: 27, id: 'item-2-1-2', country: 'CN'},
				{name: "gee-cc3", age: 27, id: 'item-2-1-3', country: 'UK'},
				{name: "gee-cc4", age: 27, id: 'item-2-1-4', country: 'US'},
				{name: "gee-cc5", age: 27, id: 'item-2-1-5', country: 'US'},
				{name: "gee-cc6", age: 27, id: 'item-2-1-6', country: 'US'}
			]},
			{name: "gee-child2", age: 27, id: 'item-2-2', country: 'CN'},
			{name: "gee-child3", age: 29, id: 'item-2-3', country: 'CN'},
			{name: "gee-child4", age: 34, id: 'item-2-4', country: 'CN'}
		]},
		{name: "Tiancum", age: 43, id: 'item-3', country: 'US'},
		{name: "Jacob", age: 27, id: 'item-4', country: 'US'},
		{name: "Nephi", age: 29, id: 'item-5', country: 'US'},
		{name: "Enos", age: 34, id: 'item-6', country: 'US'},
		{name: "Jacob", age: 28, id: 'item-7', country: 'US'},
		{name: "Nephi", age: 29, id: 'item-8', country: 'CN'},
		{name: "Tiancum", age: 34, id: 'item-9', country: 'UK'},
		{name: "Enos", age: 33, id: 'item-10', country: 'US'},
		{name: "Jacob", age: 29, id: 'item-11', country: 'US'},
		{name: "Enos", age: 32, id: 'item-12', country: 'CN'},
		{name: "Jacob", age: 30, id: 'item-13', country: 'UK'},
		{name: "Tiancum", age: 34, id: 'item-14', country: 'US'},
	];

	$scope.gridOption.columnStructs = [
		{id: 'name', field: 'name', name: 'my name', width: '200px', 
			sortt: {descending: false, priority: 2},
			formatter: function(cellData, rowData, rowId, columnId, model) {
				return cellData;
				// return cellData + model.hasChildren(rowId)? '+' :;
				return model.size();
				return "<p class>" + cellData + ' ' + rowData['age'] + "</p>";
			}
		},
		{id: 'age', field: 'age', name: 'my age', width: '100px', sortt: {descending: true, priority: 2},
			formatter: function(cellData, rowData, rowId, columnId, model) {
				return cellData;
				return parseInt(cellData) + Math.floor(Math.random() * 100) % 20;
			}
		},
		{id: 'id', field: 'id', name: 'my id', width: '200px'},
		{id: 'country', field: 'country', name: 'my  country', width: '110px', enableSorting: false}
	];

	$scope.removeRow = function() {
		$scope.gridOption.data.splice(0, 1);
		// window.data.splice(0, 1);
		console.log('remove row');
	};

	$scope.gridOption.onRegisterApi = function(api) {
		$scope.api = api;
	};

	$scope.addRow = function() {
		$scope.gridOption.data.push({
			name: names[Math.floor(Math.random() * 100) % names.length],
			age: new Date().getTime() % 50,
			id: new Date().getTime(),
			country: countries[Math.floor(Math.random() * 100) % countries.length]
		});
		console.log('add row');
	};

	$scope.nextPage = function() {
		$scope.api.pagination.next();
	};

	$scope.previousPage = function() {
		$scope.api.pagination.previous();
	};

	$scope.sort = function(colId) {
		$scope.api.core.sort([{colId: colId, descending: false}]);
	};

	$scope.empty = function() {
		return;
	};

});
</script>

<body ng-controller='appController'>
	<!-- <div aui-grid='gridOption' aui-grid-sort></div> -->
	<div aui-grid='gridOption'></div>
	<div style='margin-bottom: 10px;'></div>
	<span class='buttonGroup'>
		<button ng-click='dummy()'>dummy</button>
	</span>
	<span class='buttonGroup'>
		<button ng-click='removeRow()'>remove row</button>
		<button ng-click='addRow()'>add row</button>
	</span>
	<span class='buttonGroup'>
		<button ng-click='sort("name")'>sort name</button>
		<button ng-click='sort("age")'>sort age</button>
		<button ng-click='sort("id")'>sort id</button>
		<button ng-click='sort("country")'>sort country</button>
	</span>
</body>
</html>