<!DOCTYPE html>
<html ng-app='app'>
<title>test grid basic</title>
<link rel='stylesheet' href='../../src/less/Gridx.css'>
<style type='text/css'>
.gridx {
	width: 500px;
	height: auto;
}

.gridxMain {
	height: 250px;
}

.gridxCell {
	/*border: 1px solid red;*/
	width: 70px;
	max-width: 70px;
}

.gridxBody {
	overflow: auto;
}
.gridxRowTable {
	width: initial !important;
}

</style>
<script type='text/javascript' src='../../lib/angular/angular.js'></script>
<script type='text/javascript' src='../../release/build.js'></script>
<script type='text/javascript'>
var app = angular.module('app', ['aui.grid']);

app.controller('appController', function($scope) {
	$scope.gridOption = {};

	// $scope.gridOption.childField = 'childrend';

	window.data = $scope.gridOption.data = [
		{name: "Moroni", age: 50, id: 1, country: 'US', children: [
			{name: "Tiancum", age: 43, id: 2, country: 'US'},
			{name: "Jacob", age: 27, id: 3, country: 'US'},
			{name: "Nephi", age: 29, id: 4, country: 'US'},
			{name: "Enos", age: 34, id: 5, country: 'US'}
		]},
		{name: "Moroni", age: 50, id: 13, country: 'US'},
		{name: "Tiancum", age: 43, id: 6, country: 'US'},
		{name: "Jacob", age: 27, id: 7, country: 'US'},
		{name: "Nephi", age: 29, id: 8, country: 'US'},
		{name: "Enos", age: 34, id: 9, country: 'US'},
		{name: "Jacob", age: 27, id: 10, country: 'US'},
		{name: "Nephi", age: 29, id: 11, country: 'US'},
		{name: "Enos", age: 34, id: 12, country: 'US'},
	];


	$scope.gridOption.columnStructs = [
		{id: 'name', field: 'name', name: 'my name', width: '70px',
			formatter: function(celldata, rowData, rowId, columnId) {
				// console.log(arguments);
				return 'geek';
			}
		},
		{id: 'age', field: 'age', name: 'my age', width: '70px'},
		{id: 'id', field: 'id', name: 'my id', width: '70px'},
		{id: 'country', field: 'country', name: 'my country', width: '70px'},
		// {id: 'name', field: 'name', name: 'my name', width: '70px'},
		// {id: 'age', field: 'age', name: 'my age', width: '70px'},
		// {id: 'id', field: 'name', name: 'my id', width: '70px'},
		// {id: 'country', field: 'age', name: 'my country', width: '70px'}
	];

	$scope.removeRow = function() {
		$scope.gridOption.data.splice(0, 1);
		console.log('remove row');
	};

	$scope.addRow = function() {
		$scope.gridOption.data.push({
			name: "",
			age: new Date().getTime() % 50,
			id: new Date().getTime(),
			country: 'US'
		});
		console.log('add row');
	};
});
</script>

<body ng-controller='appController'>
	<div aui-grid='gridOption'></div>
	<button ng-click='removeRow()'>remove row</button>
	<button ng-click='addRow()'>add row</button>
</body>
</html>