<div class="gridx" role="grid" tabindex="0" aria-readonly="true" aria-label="grid">
	<div class="gridxLoad" data-dojo-attach-point="loadingNode"></div>
	<div aui-grid-header></div>
	<div class="gridxMain" role="presentation" data-dojo-attach-point="mainNode">
		<div class="gridxBodyEmpty" role="alert" tabindex="-1" data-dojo-attach-point="emptyNode"></div>
		<div class="gridxBody" role="presentation" tabindex="0" data-dojo-attach-point="bodyNode"></div>
		<div class="gridxVScroller" data-dojo-attach-point="vScrollerNode" tabindex="-1">
			<div style='width: 1px;'></div>
		</div>
	</div>
	<div aui-grid-footer></div>
	<span data-dojo-attach-point="lastFocusNode" tabindex="0"></span>
</div>
