<div class='gridxHeader' role='presentation'>
	<div class='gridxHeaderRow'>
	<div class='gridxHeaderRowInner' role='row' ng-class="{hasVScroller: grid.hasVScroller}">
	<table role='presentation' border='0' cellpadding='0' cellspacing='0'>
		<tbody>
		<tr>
		<td ng-repeat='cell in headerCells' aria-readonly="true" role="gridcell" tabindex="-1" aria-describedby="grid-id" colid="{{cell.id}}" class="gridxCell {{cell.domClass}}" style="{{cell.style}}">
			{{cell.content}}
			<div role="presentation" tabindex="0" class="gridxArrowButtonNode" ng-show='cell.sorting > 0'>
				<div class="gridxArrowButtonChar">&#9662;</div>
			</div>
			<div role="presentation" tabindex="0" class="gridxArrowButtonNode" ng-show='cell.sorting < 0'>
				<div class="gridxArrowButtonChar">&#9652;</div>
			</div>
		</td>
		</tr>
		</tbody>
	</table>
	</div>
	</div>
</div>
